@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  font-family: "SF Pro Display", Helvetica, Poppins;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: relative;
  z-index: 4;
  background-color: #102820;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #fff;
}

nav img {
  height: 75px;
}

nav ul {
  display: flex;
  float: right;
}

nav ul li {
  margin: 0 40px;
  font-size: 1.2em;
  list-style: none;
}

main {
  z-index: -1;
}

#inicio {
  height: 90vh;
  background-image: url("../assets/img/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px -14px 28px -14px rgba(0, 0, 0, 0.5);
}

#inicio-container {
  width: 50%;
  height: 100%;
  color: white;
  padding-left: 75px;
  padding-top: 150px;
}


#inicio-container h1 {
  font-size: 6em;
  margin-bottom: 45px;
}

#inicio-container q {
  font-style: italic;
  font-size: 1.1rem;
}

#inicio-container p {
  padding: 25px 0;
  font-size: 1.1rem;
  width: 600px;
}

#inicio-container button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  margin: 25px;
  margin-left: 0px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

#more {
  border: 2px solid #caba9c;
  background-color: #caba9c;
}

#more:hover {
  border: none;
  background-color: #4d2d18;
  transition: 0.2s ease;
}

#suscribe{
  border: 2px solid #fff;
  background-color: transparent;
}

#suscribe:hover {
  border: none;
  background-color: #8a6240;
  transition: 0.2s ease;
}

/* Paleta
Verde Oscuro: 102820
VerdeClaro: 4c6444
Beige: caba9c
Caqui: 8a6240
Marron: 4d2d18
*/

#episodios {
  padding: 50px;
  background-color: #fff;
}

#episodios h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 25px;
}

#episodios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.episodio-box {
  box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.71);
  background-color: #4c6444;
  color: white;
  height: 450px;
  width: 350px;
  padding: 0 25px;
  margin: 25px;
  box-sizing: border-box;
}

.episodio-box-img {
  display: flex;
  padding: 25px;
  justify-content: center;
}

.episodio-box img {
  width: 200px;
  margin: 0 auto;
}

.episodio-box h3 {
  margin-bottom: 25px;
}

.episodio-player {
  display: flex;
  justify-content: center;
  margin: 30px 30px 0 30px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.episodio-player svg {
  cursor: pointer;
}